<a href="https://colab.research.google.com/github/flrain2/Study/blob/main/movie_recommend(funkSVD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

truncatedSVD: https://lsjsj92.tistory.com/570

svd추천(한글): https://data-science-hi.tistory.com/82

https://chaelist.github.io/docs/ml_application/topic_modeling/

naver review: https://chaelist.github.io/docs/ml_application/sentiment_analysis/

https://diane-space.tistory.com/90

https://www.kaggle.com/alsojmc/movie-recommender-systems

from korea_news_crawler.articlecrawler import ArticleCrawler: https://github.com/lumyjuwon/KoreaNewsCrawler

naver: https://kyounghwan01.github.io/blog/etc/python/naver-news-crawling/#%E1%84%8F%E1%85%A9%E1%84%83%E1%85%B3

naver review crawling: https://ysyblog.tistory.com/59

naver review: https://chaelist.github.io/docs/ml_application/sentiment_analysis/

# naver movie score 크롤링

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import random
import requests
from bs4 import BeautifulSoup
import time
import csv

In [ ]:
base_url = 'https://movie.naver.com/movie/point/af/list.nhn?&page={}'

file_list =[]
for page in range(0,100):
  url = base_url.format(page)
  res=requests.get(url)
  if res.status_code == 200:
    soup = BeautifulSoup(res.text,'lxml')
    tds = soup.select('table.list_netizen > tbody > tr ')

    for td in tds:
      id = td.select_one('td.num > a.author').text.strip()
      movie_title = td.select_one('td.title > a.movie').text.strip()
      score = td.select_one('td.title > div.list_netizen_score > em').text.strip()
      comment = td.select_one('td.title > br').next_sibling.strip()

      # data append to list
      data = [id, movie_title, score, comment]
      file_list .append(data)

    interval = round(random.uniform(0.2,1.2),2)
    time.sleep(interval)

In [ ]:
# to csv
with open('/content/drive/MyDrive/Colab Notebooks/review.csv', 'w', encoding='utf-8', newline='') as csvfile:
    writer = csv.writer(csvfile)
    #write header
    writer.writerow(['id','movie_title', 'score', 'comment'])
    for i in file_list:
        writer.writerow(i)

# 1. data information

In [ ]:
import pandas as pd
import numpy as np
from math import sqrt

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/review.csv')

In [ ]:
movie

           id  ...                                            comment
0    wlgu****  ...                                      여운이 정말 긴 영화..
1    wehl****  ...                                                NaN
2    yong****  ...                               우리가 팀버튼의 환상을 사랑하는 이유
3    jaki****  ...  한국에 이정도로 완성도 높고 스케일 큰 블록버스터 액션 영화가 다시 나올거 같지 않...
4    bard****  ...                                    기대일도없었는데 재미있었어요
..        ...  ...                                                ...
995  hikm****  ...                                       역시 박훈정 감독님!!
996  gogy****  ...                              정말 아름다웠다. OST도 찾아들었다.
997  pkot****  ...                 억지 신파히어로물보는줄 알았다뇌를 비우고 보면 킬링타임은 될듯
998  doro****  ...                                       굿 글자수제한없애주세오
999  kang****  ...                             별 생각없이 봤는데 웃으면서 봤습니다ㅎㅎ

[1000 rows x 4 columns]

In [ ]:
unique_len = movie.apply(lambda x : len(x.unique()))
unique_len

id             882
movie_title    373
score           10
comment        911
dtype: int64

In [ ]:
movie.isnull().sum()

id              0
movie_title     0
score           0
comment        78
dtype: int64

In [ ]:
movie['movie_title'].unique()

array(['소년시절의 너', '뚜르: 내 생애 최고의 49일', '빅 피쉬', '도둑들', '크루엘라', '아일라',
       '새콤달콤', '분노의 질주: 더 얼티메이트', '눈부신 세상 끝에서, 너와 나', '루시', '반딧불이의 묘',
       '버닝', '컨저링 3: 악마가 시켰다', '자산어보', '레퀴엠', '곤지암', '라야와 마지막 드래곤',
       '사랑의 선물', '피아니스트', '트루먼 쇼', '메이헴', '더 스파이', '원더 휠',
       '내니 맥피 2 - 유모와 마법소동', '찬실이는 복도 많지', '1987', '전야', '레이디 버드',
       '붉은 돼지', '마루 밑 아리에티', '아들의 이름으로', '연평해전', '구직자들', '범털2 : 쩐의 전쟁',
       '천문: 하늘에 묻는다', '인트로덕션', '낫아웃', '보이저스', '2021 스웨그 에이지 : 외쳐, 조선!',
       '#위왓치유', '실버라이닝 플레이북', '어른들은 몰라요', '파이프라인', '행복', '101 달마시안',
       '더캐스팅', '일주일간 친구', '너는 여기에 없었다', '아이, 토냐', '바람', '공조', '말모이',
       '보디 히트', '폭력의 역사', '메트로: 마지막 탈출', '캡틴 마블', '극장판 귀멸의 칼날: 무한열차편',
       '불한당: 나쁜 놈들의 세상', '비포 선라이즈', 'TV소설 큰 언니', '낙원의 밤', '밀월', '컨저링',
       '괴물', '뱅가드', '극장판 콩순이: 장난감나라 대모험', '아마겟돈', '써커 펀치',
       '해리 포터와 마법사의 돌', '8년을 뛰어넘은 신부', '국가대표', '용서는 없다', '글래디에이터',
       '아미 오브 더 데드', '서편제', '프로페서 앤 매드맨', '디파티드', '아가씨', '분노의 질주: 홉스&쇼',
       '먼 훗날 우리', '라이더스 오브 저스티스', '클레멘타인', '러블리 본즈', '스물', '뷰티풀 보이',
       '스파이럴', '싱 스트리트', '새벽의 저주', '혼자 사는 사람들', '써스펙트', '승리호',
       '꼬마 마법사 레미 : 견습 마법사를 찾아서', '내니 맥피 - 우리 유모는 마법사', '엑스트라', '글래스',
       '연애의 온도', '어메이징 메리', '빌리 진 킹: 세기의 대결', '천공의 성 라퓨타', '크로싱',
       '타이타닉 2', '홈', '뱅드림! 로젤리아 에피소드Ⅰ: 약속', '겟 아웃', '해바라기', '실락원',
       '도라에몽: 스탠바이미 2', '고지전', '우리 선희', '흐르는 강물처럼', '서치', '매기스 플랜', '기프트',
       '세상의 모든 계절', '렛 힘 고', '기억할 만한 지나침', '사일런스', '아메리칸 갱스터',
       '극장판 바이올렛 에버가든', '더 플랫폼', '1917', '컨저링 2', '2067', '에놀라 홈즈', '더 폰',
       '창', '인베이젼', '해수의 아이', '컴플라이언스', '한반도', '시동', '시', '공수도',
       '연애, 그 참을 수 없는 가벼움', '셰이프 오브 워터: 사랑의 모양', '굴뚝마을의 푸펠', '주홍글씨',
       '허니와 클로버', '티벳에서의 7년', '라스트 레터', '국도극장: 감독판', '시간위의 집',
       '다크 나이트 라이즈', '새해전야', '페인티드 버드', '찰리와 초콜릿 공장', '지푸라기라도 잡고 싶은 짐승들',
       '두 남자', '아이 캔 스피크', '애비게일', '어쩌다, 결혼', '세 얼간이', '인생은 아름다워', '논스톱',
       '침묵', '골든슬럼버', '해피뻐스데이', '너의 췌장을 먹고 싶어', '국제시장', '그랜 토리노',
       '노인을 위한 나라는 없다', '스파이 게임', '인터스텔라', '유랑지구', '피끓는 청춘', '이창',
       '블루 라군', '혐오스런 마츠코의 일생', '여교사', '포레스트 검프', '대니쉬 걸', '내일의 기억',
       '브레이킹 던 part2', '무서운 집', '키퍼스', '프레스티지', '더 임파서블', '열다섯의 순수', '조커',
       '호텔 뭄바이', '고질라 VS. 콩', '데몰리션', '아이 필 프리티', '플루토에서 아침을', '더 보이스',
       '고흐, 영원의 문에서', '더 셰프', '프랭키와 쟈니', '바디 오브 라이즈', '더 큐어', '레트로액티브',
       '깡치', '드라이브', '동경가족', '극장판 쿠로코의 농구 라스트 게임', '유령 작가', '꽁치의 맛',
       '애나벨: 인형의 주인', '솔저 발터', '그것만이 내 세상', '바람 바람 바람', '쓰리 빌보드',
       '봄날은 간다', '내부자들', '황후화', '아포칼립토', '검사외전', '간신', '그날의 분위기', '관상',
       '춘희막이', '해길랍', '마네킨', '집으로 가는 길', '백두산', '오아시스', '레옹', '노바디',
       '아메리칸 셰프', '프랙처드', '너의 결혼식', '서프러제트', '바벨', '아이',
       '헨젤과 그레텔 : 마녀 사냥꾼', '연풍연가', '불멸의 연인', '밤쉘: 세상을 바꾼 폭탄선언',
       '브룩클린으로 가는 마지막 비상구', '타이타닉', '고령화 가족', '제로 다크 서티', '그들이 진심으로 엮을 때',
       '스토어웨이', '노팅 힐', '다운 어 다크 홀', '월터의 상상은 현실이 된다', '끝까지 간다', '12 솔져스',
       '카3: 새로운 도전', '매디슨 카운티의 다리', '아이언맨', '눈물', '제인 에어', '화려한 휴가',
       '센과 치히로의 행방불명', '몰리스 게임', '이웃집 토토로', '임금님의 사건수첩', '테넷', '카오스 워킹',
       '보안관', '해치지않아', '곡성(哭聲)', '수어사이드 스쿼드', '슬픔보다 더 슬픈 이야기',
       '세상의 중심에서 사랑을 외치다', '나의 PS 파트너', '진주 귀걸이를 한 소녀', '네가 내가 되었으면 좋겠다',
       '마스터', '존 윅', '폴 프롬 그레이스', '위대한 개츠비', '슈퍼 미', '강철비2: 정상회담', '왓칭',
       '내가 죽기를 바라는 자들', '굿 윌 헌팅', '정직한 후보', '하류인생', '엔젤 아이즈', '남산의 부장들',
       '나인스 라이프', '비스티걸스', '라라랜드', '유전', '귀를 기울이면', '미나리', '바이센테니얼 맨',
       '투모로우', '리틀 조', '완벽한 타인', '미드소마', '히트맨', '벌새', '그녀', '서복', '더 킹',
       '마약왕', '내겐 너무 소중한 너', '까치발', '말할 수 없는 비밀', '파수꾼', '박열',
       '비와 당신의 이야기', '오페라의 유령', '네 마음에 새겨진 이름', '여인의 향기', '범죄의 여왕',
       '뉴욕의 가을', '헌트', '그린 북', '미션 파서블', '레드슈즈', '다이 하드', '핫 썸머 나이츠',
       '무간도', '셔터', '슈퍼노바', '밀리언 달러 베이비', '적과의 동침', '거미숲', '노매드랜드',
       '벤자민 버튼의 시간은 거꾸로 간다', '공동경비구역 JSA', '라스트 풀 메저', '오펀: 천사의 비밀',
       '인셉션', '원더', '인비저블맨', '존 도우', '소셜 네트워크', '컨테이젼', '레미제라블', '봉오동 전투',
       '너의 이름은.', '인시디어스: 두번째 집', '미션 임파서블 : 고스트 프로토콜', '사라진 밤',
       '콰이어트 플레이스', '비밀의 정원', '데이비드 게일', '미첼 가족과 기계 전쟁', '블랙핑크: 세상을 밝혀라',
       '미스피츠', '도굴', '부산행', '인비저블 게스트', '조작된 도시',
       '디지몬 어드벤처 라스트 에볼루션 : 인연', '오직 그대만', '친절한 금자씨', '데어 윌 비 블러드',
       '나의 소녀시대', '나의 첫 번째 슈퍼스타', '회사원', '담보', '소리꾼 디오리지널', '박화영',
       '택시 드라이버', '삼진그룹 영어토익반', '마당을 나온 암탉', '군산: 거위를 노래하다', '당신의 사월',
       '업 포 러브', '가버나움', '사일런스 앤드 다크니스', '디스트릭트 9', '신황제를 위하여',
       '라이프 오브 파이', '동급생', '파운더', '미드웨이', '소울', '비밀', '썰', '우먼 인 윈도',
       '양들의 침묵', '82년생 김지영', '본 얼티메이텀', '맨츄리안 켄디데이트', '그래비티'],
      dtype=object)

#funkSVD

In [ ]:
def FunkSVD(ratings_mat, latent_features=50, learning_rate=0.0001, iters=100, random_seed=52, verbose=True):
    '''This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, offers (subtype) as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    offer_mat - (numpy array) a latent feature by offer matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_offers = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat))
    
    # initialize the user and offer matrices with random values
    np.random.seed (random_seed)
    user_mat = np.random.rand(n_users, latent_features)
    offer_mat = np.random.rand(latent_features, n_offers)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # header for running results
    if verbose:
        print("Optimizaiton Statistics")
        print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-offer pair
        for i in range(n_users):
            for j in range(n_offers):
                
                # if the rating exists
                if (ratings_mat[i, j] == 0)|(ratings_mat[i, j] > 0):
                    
                    # compute the error as the actual minus the dot product of the user and offer latent features
                    diff = ratings_mat[i, j] - np.dot(user_mat[i, :], offer_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        user_mat[i, k] += learning_rate * (2*diff*offer_mat[k, j])
                        offer_mat[k, j] += learning_rate * (2*diff*user_mat[i, k])

        # print results for iteration
        if verbose: 
            print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
    
    return user_mat, offer_mat 

def validation_func (test_matrix, predict_train_matrix, is_train =False, verbose=True):
    """Function that runs validation of predicted user item matrix (predict_train_matrix) on the given user item matrix 
    (test or train matrix). 
    
    INPUT: 
    Test user item matrix, predicted user item matrix, is_train sign (if validation done on train), verbose sign (whether to print results)
    OUTPUT: 
    MSE error value, Accuracy value. If verbose equals True then results just printed. Nothing returned.
    Rating이면 accuracy를 차이/원값 비율로, 
    있는지의 여부이면, 맞춘 비율.       

    """
        
    #will be looping over common customers only
    test_idx = test_matrix.index.intersection (predict_train_matrix.index)
    test_cols = test_matrix.columns

    sse_accum = 0
    diff = 0
    acc = []

    for i in test_idx: 
        for j in test_cols: 
            if test_matrix.at [i,j]>=0:
                # compute the error as the actual minus the dot product of the user and offer latent features
                diff = test_matrix.at [i,j] - predict_train_matrix.at [i,j]
                        
                # Keep track of the sum of squared errors for the matrix
                sse_accum += diff**2
                acc.append (abs (diff))

    #deviding on the overall not null values in test_matrix
    mse_error = sse_accum/(test_matrix.notnull().sum ().sum())
    acc_test = 1 - sum (acc)/(test_matrix.notnull().sum ().sum())

    if (is_train == False)&(verbose): 
        print ('\n')
        print ('MSE on the test set is: ', mse_error)
        print ('RMSE on the test set is: ', sqrt(mse_error))
        print ('Accuracy(0/1) on the test set is: ', acc_test)
        print ('\n')
    if (is_train == True)&(verbose): 
        print ('\n')
        print ('MSE on the train set is: ', mse_error)
        print ('RMSE on the train set is: ', sqrt(mse_error))
        print ('Accuracy(0/1) on the train set is: ', acc_test)
        print ('\n')
    #if no need for printing just return values of MSE and Accuracy
    if verbose == False: 
        return mse_error, acc_test

In [ ]:
# [id & movie_title] 숫자로 변형
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

reviews_with_comment_df = movie
reviews_with_comment_df['id'] = label_encoder.fit_transform(movie['id'])
reviews_with_comment_df['movie_num'] = label_encoder.fit_transform(movie['movie_title'])

# comment 제거
movie_user = reviews_with_comment_df[['id','movie_num','score']]

In [ ]:
movie_user.drop_duplicates(inplace=True) #(981756, 3) 에서 (980112, 3) 줄어듬
print('we have',movie_user.shape[0], 'ratings')
print('the number of unique users we have is:', len(movie_user.id.unique()))
print('the number of unique movie we have is:', len(movie_user.movie_num.unique()))
print("The median user rated %d movie."%movie_user.id.value_counts().median())
print('The max rating is: %d'%movie_user.score.max(),"the min rating is: %d"%movie_user.score.min())
movie_user.head()

we have 985 ratings
the number of unique users we have is: 882
the number of unique movie we have is: 373
The median user rated 1 movie.
The max rating is: 10 the min rating is: 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    id  movie_num  score
0  807        212     10
1  787        111     10
2  855        192      9
3  338        102     10
4   67        327     10

In [ ]:
movie_user=movie_user.groupby(['id','movie_num'])['score'].sum().unstack()

In [ ]:
#Number of zeroes and ones in the matrix  영화별로 1,2,3,4,5 를 얼마나 % 받았는지
#for col in user_item_matrix.columns:
for col in movie_user.columns:
    print (movie_user [col].value_counts()/movie_user [col].notnull ().sum()*100)

10.0    66.666667
8.0     33.333333
Name: 0, dtype: float64
8.0    100.0
Name: 1, dtype: float64
9.0    50.0
7.0    50.0
Name: 2, dtype: float64
10.0    100.0
Name: 3, dtype: float64
1.0     50.0
10.0    50.0
Name: 4, dtype: float64
7.0    100.0
Name: 5, dtype: float64
1.0     66.666667
10.0    33.333333
Name: 6, dtype: float64
3.0    100.0
Name: 7, dtype: float64
10.0    100.0
Name: 8, dtype: float64
6.0    100.0
Name: 9, dtype: float64
10.0    100.0
Name: 10, dtype: float64
6.0    100.0
Name: 11, dtype: float64
2.0    100.0
Name: 12, dtype: float64
10.0    100.0
Name: 13, dtype: float64
2.0    100.0
Name: 14, dtype: float64
9.0    100.0
Name: 15, dtype: float64
10.0    100.0
Name: 16, dtype: float64
10.0    100.0
Name: 17, dtype: float64
10.0    66.666667
2.0     33.333333
Name: 18, dtype: float64
10.0    100.0
Name: 19, dtype: float64
9.0    100.0
Name: 20, dtype: float64
4.0    50.0
1.0    50.0
Name: 21, dtype: float64
2.0    100.0
Name: 22, dtype: float64
10.0    100.0
Name: 23, dtype: float64
9.0    100.0
Name: 24, dtype: float64
10.0    100.0
Name: 25, dtype: float64
10.0    100.0
Name: 26, dtype: float64
10.0    100.0
Name: 27, dtype: float64
8.0    100.0
Name: 28, dtype: float64
10.0    100.0
Name: 29, dtype: float64
6.0    100.0
Name: 30, dtype: float64
10.0    100.0
Name: 31, dtype: float64
1.0    100.0
Name: 32, dtype: float64
10.0    100.0
Name: 33, dtype: float64
10.0    100.0
Name: 34, dtype: float64
10.0    100.0
Name: 35, dtype: float64
10.0    100.0
Name: 36, dtype: float64
7.0    100.0
Name: 37, dtype: float64
10.0    100.0
Name: 38, dtype: float64
10.0    100.0
Name: 39, dtype: float64
10.0    100.0
Name: 40, dtype: float64
10.0    100.0
Name: 41, dtype: float64
10.0    100.0
Name: 42, dtype: float64
10.0    50.0
2.0     25.0
9.0     25.0
Name: 43, dtype: float64
7.0    100.0
Name: 44, dtype: float64
9.0    100.0
Name: 45, dtype: float64
10.0    100.0
Name: 46, dtype: float64
10.0    50.0
9.0     50.0
Name: 47, dtype: float64
1.0    100.0
Name: 48, dtype: float64
8.0    100.0
Name: 49, dtype: float64
9.0    100.0
Name: 50, dtype: float64
8.0    50.0
5.0    50.0
Name: 51, dtype: float64
1.0    100.0
Name: 52, dtype: float64
1.0    100.0
Name: 53, dtype: float64
9.0    100.0
Name: 54, dtype: float64
10.0    100.0
Name: 55, dtype: float64
7.0    100.0
Name: 56, dtype: float64
8.0    100.0
Name: 57, dtype: float64
10.0    100.0
Name: 58, dtype: float64
7.0    100.0
Name: 59, dtype: float64
10.0    57.142857
7.0     14.285714
8.0     14.285714
1.0     14.285714
Name: 60, dtype: float64
2.0    100.0
Name: 61, dtype: float64
10.0    58.333333
6.0     25.000000
8.0     16.666667
Name: 62, dtype: float64
7.0    100.0
Name: 63, dtype: float64
10.0    100.0
Name: 64, dtype: float64
7.0    100.0
Name: 65, dtype: float64
9.0    100.0
Name: 66, dtype: float64
1.0    100.0
Name: 67, dtype: float64
10.0    33.333333
5.0     16.666667
8.0     16.666667
2.0     16.666667
6.0     16.666667
Name: 68, dtype: float64
5.0    100.0
Name: 69, dtype: float64
10.0    100.0
Name: 70, dtype: float64
10.0    100.0
Name: 71, dtype: float64
6.0    100.0
Name: 72, dtype: float64
10.0    100.0
Name: 73, dtype: float64
10.0    100.0
Name: 74, dtype: float64
10.0    100.0
Name: 75, dtype: float64
4.0     66.666667
10.0    33.333333
Name: 76, dtype: float64
10.0    100.0
Name: 77, dtype: float64
10.0    100.0
Name: 78, dtype: float64
10.0    100.0
Name: 79, dtype: float64
10.0    100.0
Name: 80, dtype: float64
10.0    100.0
Name: 81, dtype: float64
6.0    100.0
Name: 82, dtype: float64
10.0    100.0
Name: 83, dtype: float64
6.0    100.0
Name: 84, dtype: float64
10.0    100.0
Name: 85, dtype: float64
10.0    100.0
Name: 86, dtype: float64
10.0    100.0
Name: 87, dtype: float64
10.0    100.0
Name: 88, dtype: float64
8.0    100.0
Name: 89, dtype: float64
10.0    100.0
Name: 90, dtype: float64
10.0    100.0
Name: 91, dtype: float64
10.0    100.0
Name: 92, dtype: float64
8.0    100.0
Name: 93, dtype: float64
9.0    100.0
Name: 94, dtype: float64
1.0    100.0
Name: 95, dtype: float64
10.0    100.0
Name: 96, dtype: float64
1.0    100.0
Name: 97, dtype: float64
8.0    100.0
Name: 98, dtype: float64
10.0    100.0
Name: 99, dtype: float64
10.0    100.0
Name: 100, dtype: float64
4.0    100.0
Name: 101, dtype: float64
10.0    100.0
Name: 102, dtype: float64
10.0    100.0
Name: 103, dtype: float64
8.0    100.0
Name: 104, dtype: float64
8.0    100.0
Name: 105, dtype: float64
10.0    50.0
1.0     50.0
Name: 106, dtype: float64
10.0    100.0
Name: 107, dtype: float64
9.0    100.0
Name: 108, dtype: float64
10.0    100.0
Name: 109, dtype: float64
9.0     50.0
10.0    50.0
Name: 110, dtype: float64
10.0    100.0
Name: 111, dtype: float64
7.0    100.0
Name: 112, dtype: float64
6.0    100.0
Name: 113, dtype: float64
10.0    100.0
Name: 114, dtype: float64
10.0    100.0
Name: 115, dtype: float64
7.0     50.0
6.0     25.0
10.0    25.0
Name: 116, dtype: float64
10.0    100.0
Name: 117, dtype: float64
10.0    100.0
Name: 118, dtype: float64
10.0    100.0
Name: 119, dtype: float64
10.0    100.0
Name: 120, dtype: float64
10.0    100.0
Name: 121, dtype: float64
8.0    100.0
Name: 122, dtype: float64
8.0    100.0
Name: 123, dtype: float64
8.0    100.0
Name: 124, dtype: float64
5.0    100.0
Name: 125, dtype: float64
8.0    100.0
Name: 126, dtype: float64
8.0    100.0
Name: 127, dtype: float64
10.0    100.0
Name: 128, dtype: float64
10.0    100.0
Name: 129, dtype: float64
8.0     50.0
10.0    50.0
Name: 130, dtype: float64
8.0    100.0
Name: 131, dtype: float64
6.0    100.0
Name: 132, dtype: float64
10.0    100.0
Name: 133, dtype: float64
8.0    100.0
Name: 134, dtype: float64
7.0    100.0
Name: 135, dtype: float64
10.0    100.0
Name: 136, dtype: float64
9.0    100.0
Name: 137, dtype: float64
10.0    100.0
Name: 138, dtype: float64
10.0    100.0
Name: 139, dtype: float64
6.0    100.0
Name: 140, dtype: float64
10.0    100.0
Name: 141, dtype: float64
10.0    100.0
Name: 142, dtype: float64
10.0    100.0
Name: 143, dtype: float64
6.0    50.0
8.0    50.0
Name: 144, dtype: float64
1.0    100.0
Name: 145, dtype: float64
10.0    100.0
Name: 146, dtype: float64
8.0    100.0
Name: 147, dtype: float64
10.0    100.0
Name: 148, dtype: float64
3.0    50.0
1.0    50.0
Name: 149, dtype: float64
10.0    100.0
Name: 150, dtype: float64
10.0    100.0
Name: 151, dtype: float64
7.0    100.0
Name: 152, dtype: float64
10.0    100.0
Name: 153, dtype: float64
10.0    100.0
Name: 154, dtype: float64
2.0    100.0
Name: 155, dtype: float64
9.0    100.0
Name: 156, dtype: float64
10.0    100.0
Name: 157, dtype: float64
4.0    100.0
Name: 158, dtype: float64
9.0    100.0
Name: 159, dtype: float64
10.0    100.0
Name: 160, dtype: float64
10.0    100.0
Name: 161, dtype: float64
1.0    100.0
Name: 162, dtype: float64
2.0    100.0
Name: 163, dtype: float64
10.0    100.0
Name: 164, dtype: float64
10.0    100.0
Name: 165, dtype: float64
10.0    100.0
Name: 166, dtype: float64
10.0    100.0
Name: 167, dtype: float64
6.0    100.0
Name: 168, dtype: float64
10.0    100.0
Name: 169, dtype: float64
6.0    100.0
Name: 170, dtype: float64
10.0    100.0
Name: 171, dtype: float64
8.0    100.0
Name: 172, dtype: float64
9.0    100.0
Name: 173, dtype: float64
10.0    100.0
Name: 174, dtype: float64
10.0    100.0
Name: 175, dtype: float64
8.0    100.0
Name: 176, dtype: float64
10.0    32.558140
8.0     25.581395
6.0     13.953488
2.0      9.302326
1.0      6.976744
9.0      4.651163
4.0      4.651163
5.0      2.325581
Name: 177, dtype: float64
9.0    100.0
Name: 178, dtype: float64
10.0    100.0
Name: 179, dtype: float64
10.0    100.0
Name: 180, dtype: float64
9.0    100.0
Name: 181, dtype: float64
8.0    100.0
Name: 182, dtype: float64
8.0    100.0
Name: 183, dtype: float64
7.0    100.0
Name: 184, dtype: float64
10.0    100.0
Name: 185, dtype: float64
8.0    100.0
Name: 186, dtype: float64
6.0    100.0
Name: 187, dtype: float64
8.0    100.0
Name: 188, dtype: float64
1.0    100.0
Name: 189, dtype: float64
10.0    66.666667
2.0     33.333333
Name: 190, dtype: float64
10.0    100.0
Name: 191, dtype: float64
9.0     50.0
10.0    50.0
Name: 192, dtype: float64
1.0    100.0
Name: 193, dtype: float64
10.0    100.0
Name: 194, dtype: float64
6.0    100.0
Name: 195, dtype: float64
8.0    100.0
Name: 196, dtype: float64
4.0    100.0
Name: 197, dtype: float64
10.0    100.0
Name: 198, dtype: float64
10.0    100.0
Name: 199, dtype: float64
10.0    38.947368
8.0     21.052632
1.0     14.736842
9.0      7.368421
7.0      5.263158
6.0      5.263158
2.0      3.157895
4.0      2.105263
5.0      1.052632
12.0     1.052632
Name: 200, dtype: float64
10.0    100.0
Name: 201, dtype: float64
4.0    50.0
1.0    50.0
Name: 202, dtype: float64
8.0    100.0
Name: 203, dtype: float64
10.0    100.0
Name: 204, dtype: float64
10.0    100.0
Name: 205, dtype: float64
10.0    100.0
Name: 206, dtype: float64
10.0    100.0
Name: 207, dtype: float64
10.0    100.0
Name: 208, dtype: float64
10.0    100.0
Name: 209, dtype: float64
9.0    100.0
Name: 210, dtype: float64
10.0    100.0
Name: 211, dtype: float64
10.0    100.0
Name: 212, dtype: float64
10.0    100.0
Name: 213, dtype: float64
6.0    100.0
Name: 214, dtype: float64
10.0    100.0
Name: 215, dtype: float64
10.0    50.0
9.0     50.0
Name: 216, dtype: float64
10.0    100.0
Name: 217, dtype: float64
6.0    50.0
1.0    50.0
Name: 218, dtype: float64
10.0    100.0
Name: 219, dtype: float64
1.0    100.0
Name: 220, dtype: float64
8.0    50.0
9.0    50.0
Name: 221, dtype: float64
10.0    100.0
Name: 222, dtype: float64
4.0    33.333333
6.0    33.333333
7.0    33.333333
Name: 223, dtype: float64
10.0    100.0
Name: 224, dtype: float64
10.0    100.0
Name: 225, dtype: float64
10.0    100.0
Name: 226, dtype: float64
8.0    100.0
Name: 227, dtype: float64
10.0    100.0
Name: 228, dtype: float64
10.0    100.0
Name: 229, dtype: float64
7.0    100.0
Name: 230, dtype: float64
10.0    100.0
Name: 231, dtype: float64
10.0    100.0
Name: 232, dtype: float64
5.0    50.0
4.0    50.0
Name: 233, dtype: float64
9.0    100.0
Name: 234, dtype: float64
10.0    100.0
Name: 235, dtype: float64
10.0    100.0
Name: 236, dtype: float64
2.0    50.0
1.0    50.0
Name: 237, dtype: float64
7.0     25.0
6.0     25.0
10.0    25.0
4.0     25.0
Name: 238, dtype: float64
10.0    100.0
Name: 239, dtype: float64
8.0    100.0
Name: 240, dtype: float64
10.0    100.0
Name: 241, dtype: float64
1.0     42.857143
2.0     21.428571
10.0    14.285714
6.0     14.285714
5.0      7.142857
Name: 242, dtype: float64
10.0    100.0
Name: 243, dtype: float64
10.0    100.0
Name: 244, dtype: float64
10.0    100.0
Name: 245, dtype: float64
8.0    100.0
Name: 246, dtype: float64
9.0    100.0
Name: 247, dtype: float64
10.0    100.0
Name: 248, dtype: float64
10.0    100.0
Name: 249, dtype: float64
7.0    100.0
Name: 250, dtype: float64
1.0    100.0
Name: 251, dtype: float64
8.0    100.0
Name: 252, dtype: float64
1.0    50.0
2.0    25.0
6.0    25.0
Name: 253, dtype: float64
10.0    50.0
9.0     50.0
Name: 254, dtype: float64
10.0    100.0
Name: 255, dtype: float64
8.0    100.0
Name: 256, dtype: float64
10.0    100.0
Name: 257, dtype: float64
10.0    100.0
Name: 258, dtype: float64
8.0    100.0
Name: 259, dtype: float64
8.0    100.0
Name: 260, dtype: float64
10.0    100.0
Name: 261, dtype: float64
10.0    100.0
Name: 262, dtype: float64
4.0    100.0
Name: 263, dtype: float64
10.0    90.000000
1.0      3.333333
8.0      3.333333
6.0      1.666667
2.0      1.666667
Name: 264, dtype: float64
10.0    100.0
Name: 265, dtype: float64
4.0    100.0
Name: 266, dtype: float64
10.0    100.0
Name: 267, dtype: float64
10.0    100.0
Name: 268, dtype: float64
8.0    100.0
Name: 269, dtype: float64
10.0    100.0
Name: 270, dtype: float64
10.0    100.0
Name: 271, dtype: float64
1.0    100.0
Name: 272, dtype: float64
4.0     50.0
10.0    50.0
Name: 273, dtype: float64
7.0    100.0
Name: 274, dtype: float64
1.0    100.0
Name: 275, dtype: float64
10.0    100.0
Name: 276, dtype: float64
10.0    100.0
Name: 277, dtype: float64
10.0    100.0
Name: 278, dtype: float64
10.0    100.0
Name: 279, dtype: float64
1.0    100.0
Name: 280, dtype: float64
10.0    100.0
Name: 281, dtype: float64
10.0    100.0
Name: 282, dtype: float64
10.0    100.0
Name: 283, dtype: float64
1.0    50.0
6.0    50.0
Name: 284, dtype: float64
8.0    100.0
Name: 285, dtype: float64
10.0    100.0
Name: 286, dtype: float64
7.0    100.0
Name: 287, dtype: float64
10.0    100.0
Name: 288, dtype: float64
10.0    100.0
Name: 289, dtype: float64
5.0    100.0
Name: 290, dtype: float64
10.0    100.0
Name: 291, dtype: float64
6.0    50.0
9.0    50.0
Name: 292, dtype: float64
2.0    100.0
Name: 293, dtype: float64
6.0    100.0
Name: 294, dtype: float64
9.0     33.333333
6.0     33.333333
10.0    33.333333
Name: 295, dtype: float64
10.0    100.0
Name: 296, dtype: float64
10.0    50.0
8.0     25.0
9.0     25.0
Name: 297, dtype: float64
8.0    100.0
Name: 298, dtype: float64
10.0    100.0
Name: 299, dtype: float64
10.0    100.0
Name: 300, dtype: float64
10.0    100.0
Name: 301, dtype: float64
10.0    80.000000
6.0      6.666667
4.0      6.666667
8.0      6.666667
Name: 302, dtype: float64
1.0    100.0
Name: 303, dtype: float64
10.0    100.0
Name: 304, dtype: float64
1.0    100.0
Name: 305, dtype: float64
4.0    100.0
Name: 306, dtype: float64
10.0    100.0
Name: 307, dtype: float64
1.0    100.0
Name: 308, dtype: float64
9.0    100.0
Name: 309, dtype: float64
10.0    100.0
Name: 310, dtype: float64
2.0    100.0
Name: 311, dtype: float64
10.0    100.0
Name: 312, dtype: float64
10.0    100.0
Name: 313, dtype: float64
10.0    100.0
Name: 314, dtype: float64
10.0    100.0
Name: 315, dtype: float64
10.0    100.0
Name: 316, dtype: float64
1.0    100.0
Name: 317, dtype: float64
7.0    100.0
Name: 318, dtype: float64
1.0    100.0
Name: 319, dtype: float64
10.0    100.0
Name: 320, dtype: float64
9.0    100.0
Name: 321, dtype: float64
10.0    36.296296
6.0     17.037037
1.0     11.851852
8.0     11.851852
2.0      8.148148
7.0      5.185185
4.0      4.444444
9.0      2.222222
3.0      1.481481
5.0      1.481481
Name: 322, dtype: float64
10.0    100.0
Name: 323, dtype: float64
6.0    100.0
Name: 324, dtype: float64
10.0    100.0
Name: 325, dtype: float64
10.0    100.0
Name: 326, dtype: float64
10.0    72.180451
8.0      8.270677
9.0      7.518797
1.0      3.759398
7.0      3.007519
6.0      3.007519
4.0      2.255639
Name: 327, dtype: float64
10.0    100.0
Name: 328, dtype: float64
8.0    66.666667
2.0    33.333333
Name: 329, dtype: float64
10.0    100.0
Name: 330, dtype: float64
1.0     50.0
10.0    50.0
Name: 331, dtype: float64
10.0    100.0
Name: 332, dtype: float64
10.0    50.0
8.0     50.0
Name: 333, dtype: float64
10.0    100.0
Name: 334, dtype: float64
10.0    50.0
9.0     50.0
Name: 335, dtype: float64
10.0    100.0
Name: 336, dtype: float64
10.0    50.0
7.0     50.0
Name: 337, dtype: float64
10.0    100.0
Name: 338, dtype: float64
10.0    45.454545
4.0     18.181818
1.0     18.181818
8.0      9.090909
5.0      9.090909
Name: 339, dtype: float64
10.0    100.0
Name: 340, dtype: float64
10.0    100.0
Name: 341, dtype: float64
6.0    100.0
Name: 342, dtype: float64
9.0    100.0
Name: 343, dtype: float64
10.0    100.0
Name: 344, dtype: float64
8.0    100.0
Name: 345, dtype: float64
10.0    100.0
Name: 346, dtype: float64
10.0    66.666667
9.0     33.333333
Name: 347, dtype: float64
10.0    100.0
Name: 348, dtype: float64
6.0    100.0
Name: 349, dtype: float64
10.0    100.0
Name: 350, dtype: float64
10.0    100.0
Name: 351, dtype: float64
1.0    100.0
Name: 352, dtype: float64
7.0    100.0
Name: 353, dtype: float64
1.0    100.0
Name: 354, dtype: float64
6.0    100.0
Name: 355, dtype: float64
10.0    50.0
3.0     50.0
Name: 356, dtype: float64
10.0    100.0
Name: 357, dtype: float64
4.0    100.0
Name: 358, dtype: float64
10.0    100.0
Name: 359, dtype: float64
10.0    100.0
Name: 360, dtype: float64
1.0    100.0
Name: 361, dtype: float64
7.0    100.0
Name: 362, dtype: float64
10.0    100.0
Name: 363, dtype: float64
10.0    100.0
Name: 364, dtype: float64
10.0    100.0
Name: 365, dtype: float64
9.0    100.0
Name: 366, dtype: float64
10.0    100.0
Name: 367, dtype: float64
10.0    100.0
Name: 368, dtype: float64
10.0    60.0
5.0     20.0
1.0     20.0
Name: 369, dtype: float64
10.0    100.0
Name: 370, dtype: float64
10.0    100.0
Name: 371, dtype: float64
7.0    100.0
Name: 372, dtype: float64

In [ ]:
#이제 FUNK SVD를 적용함
user_mat, offer_mat =FunkSVD(np.matrix(movie_user), latent_features=8, learning_rate=0.01, iters=10)

Optimizaiton Statistics
Iterations | Mean Squared Error
1 		 28.360153
2 		 16.748700
3 		 10.893358
4 		 6.979964
5 		 4.290517
6 		 2.526702
7 		 1.436444
8 		 0.802508
9 		 0.452345
10 		 0.263850

In [ ]:
np.round (np.dot(user_mat, offer_mat))

array([[ 6.,  5.,  7., ...,  8.,  7.,  5.],
       [ 9.,  7.,  8., ..., 10.,  9.,  6.],
       [ 9.,  6.,  9., ..., 11.,  8.,  6.],
       ...,
       [ 8.,  6.,  8., ..., 10.,  8.,  6.],
       [ 2.,  1.,  1., ...,  1.,  1.,  1.],
       [ 6.,  4.,  6., ...,  7.,  5.,  4.]])

In [ ]:
#이제 예측치를 만듬
train_predict_np= np.abs(np.round (np.dot(user_mat, offer_mat)))

In [ ]:
train_predict_np

array([[ 6.,  5.,  7., ...,  8.,  7.,  5.],
       [ 9.,  7.,  8., ..., 10.,  9.,  6.],
       [ 9.,  6.,  9., ..., 11.,  8.,  6.],
       ...,
       [ 8.,  6.,  8., ..., 10.,  8.,  6.],
       [ 2.,  1.,  1., ...,  1.,  1.,  1.],
       [ 6.,  4.,  6., ...,  7.,  5.,  4.]])

In [ ]:
#checking predicted values in each column, it should be filled only with zeroes and ones
predict_train_matrix = pd.DataFrame (train_predict_np)

#for j in predict_train_matrix.columns:
#    print (predict_train_matrix[j].value_counts())

In [ ]:
#validation results on train and test sets    panda 로만 해야 함 
train_predict_np=pd.DataFrame(train_predict_np)

validation_func (movie_user, predict_train_matrix, is_train=True)

MSE on the train set is:  0.16276703967446593
RMSE on the train set is:  0.40344397340208954
Accuracy(0/1) on the train set is:  0.861648016276704

In [ ]:
train_predict_np

     0    1    2     3    4    5    6    ...  366  367  368   369   370  371  372
0    6.0  5.0  7.0   7.0  6.0  5.0  6.0  ...  6.0  6.0  7.0   8.0   8.0  7.0  5.0
1    9.0  7.0  8.0  10.0  8.0  7.0  7.0  ...  8.0  9.0  9.0  10.0  10.0  9.0  6.0
2    9.0  6.0  9.0  10.0  8.0  6.0  8.0  ...  8.0  9.0  8.0  10.0  11.0  8.0  6.0
3    6.0  5.0  7.0   7.0  6.0  4.0  5.0  ...  6.0  6.0  6.0   7.0   8.0  6.0  5.0
4    6.0  4.0  6.0   7.0  6.0  4.0  5.0  ...  5.0  6.0  5.0   6.0   7.0  5.0  4.0
..   ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...   ...   ...  ...  ...
877  0.0  0.0  1.0   0.0  0.0  1.0  0.0  ...  0.0  0.0  1.0   1.0   1.0  1.0  1.0
878  6.0  5.0  6.0   7.0  5.0  4.0  5.0  ...  6.0  5.0  6.0   7.0   8.0  6.0  5.0
879  8.0  6.0  8.0   9.0  6.0  6.0  7.0  ...  7.0  7.0  8.0   9.0  10.0  8.0  6.0
880  2.0  1.0  1.0   2.0  1.0  1.0  1.0  ...  1.0  1.0  1.0   1.0   1.0  1.0  1.0
881  6.0  4.0  6.0   7.0  5.0  4.0  5.0  ...  6.0  5.0  5.0   6.0   7.0  5.0  4.0

[882 rows x 373 columns]

In [ ]:
def rec(user, top):
    global pred
    global movies
    p = train_predict_np
    m = reviews_with_comment_df
    
    tmp = pd.DataFrame(p.loc[user,:].T)
    tmp['movie_num']= tmp.index
    tmp.columns=['predict','movie_num']
    tmp.sort_values('predict', ascending=False, inplace=True)
    tmp=pd.DataFrame(tmp.head(10))
    tmp=pd.merge(tmp, m)
    tmp = tmp.drop_duplicates(['movie_num'])

    return tmp[['predict','movie_num','movie_title']]

In [ ]:
p = train_predict_np
m = reviews_with_comment_df

tmp = pd.DataFrame(p.loc[16,:].T)
tmp

      16
0    7.0
1    6.0
2    7.0
3    8.0
4    6.0
..   ...
368  7.0
369  8.0
370  9.0
371  7.0
372  5.0

[373 rows x 1 columns]

In [ ]:
tmp['movie_num']= tmp.index
tmp.columns=['predict','movie_num']

In [ ]:
tmp

     predict  movie_num
0        7.0          0
1        6.0          1
2        7.0          2
3        8.0          3
4        6.0          4
..       ...        ...
368      7.0        368
369      8.0        369
370      9.0        370
371      7.0        371
372      5.0        372

[373 rows x 2 columns]

In [ ]:
tmp.sort_values('predict', ascending=False, inplace=True)
tmp=pd.DataFrame(tmp.head(10))
tmp=pd.merge(tmp, m)
tmp = tmp.drop_duplicates(['movie_num'])

In [ ]:
r= rec(16,10)
r

     predict  movie_num      movie_title
0       13.0        264             연평해전
61      13.0        327             크루엘라
198     13.0        200             새콤달콤
295     11.0        302               조커
310     10.0        177  분노의 질주: 더 얼티메이트
355     10.0         60            낙원의 밤
362     10.0         62              낫아웃
374      9.0        370              회사원
376      9.0        115      라야와 마지막 드래곤
378      9.0        322   컨저링 3: 악마가 시켰다

In [ ]:
reviews_with_comment_df[reviews_with_comment_df['id'] == 16]

     id  ... movie_num
420  16  ...       250

[1 rows x 5 columns]